.container-fluid{
    margin:0 auto;
    padding: 0px;
    display: flex;
    /* border: 2px solid black; */
}

.avatar {
    vertical-align: middle;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 4px;
    margin-right: 10px;
    margin-left: 0;
    /* border: 1px solid red; */
}
.align-middle{
    margin-top: 25px;
}
.card{
    margin-bottom: 5px;
    transition: transform 1s;
    height: 100px;
}
#card1-div{
    background-color: #009B8B !important;
}
#card1-div:hover{
    /* transform: scale(1.3); */
    transform: translate(3px, 10px);
    background: rgb(1, 124, 112);
    box-shadow: 2px 2px 2px #000;
    z-index: 5;
}
#card2-div{
    background-color: #00B852;
}
#card2-div:hover{
    transform: translate(-3px, 10px);
    background: rgb(1, 136, 62);
    box-shadow: 2px 2px 2px  #000;
    z-index: 5;
}
.card-body{
    padding: 0;
    margin: 0;
}
.row{
    margin: 0;
    padding: 0;
}

.current-logged-div{
    flex: 1;
    margin-right: 10px;
}
.logout-div{
    flex: 1;
}


