<div class="container-fluid">
    <div class="current-logged-div">
        <p style="margin:5px 0 0 10px;">Visitor Logged In</p>
        <!--
        <div class="card text-white" id="card1-div" *ngFor="let logIn of loggedInVisitor">
            <div class="card-body">
                <div class="row">
                        <div class="col">
                            <p><img src="/src/assets/images/pic1.jpg" alt="Avatar" class="avatar"></p>
                        </div>

                    <div class="col align-middle">
                        <p><strong><u>Logged In</u></strong><br>{{logIn.logInTime}}</p>
                    </div>
                   
                    <div class="col align-middle">
                        <p><strong><u>Visitor</u></strong><br>{{logIn.visitor.firstName}} {{logIn.visitor.lastName}}</p>
                    </div>
                    <div class="col align-middle">
                        <p><strong><u>Employee</u></strong><br>{{logIn.employee.firstName}} {{logIn.employee.lastName}}</p>
                    </div>
                </div>
            </div>
        </div>
         
        -->

        <div class="card text-white" id="card1-div" *ngFor="let logIn of loggedInVisitor">
                <div class="card-body">
                    <div class="row">
                            <div class="col">
                                <p><img src="/src/assets/images/person.png" alt="Avatar" class="avatar"></p>
                            </div>
                        <div class="col align-middle">
                                <p><strong><u>Logged In</u></strong><br>{{logIn.logInTime}}</p>
                        </div>
                        <div class="col align-middle">
                                <p><strong><u>Visitor</u></strong><br>{{logIn.visitor.firstName}} {{logIn.visitor.lastName}}</p>
                        </div>
                        <div class="col align-middle">
                                <p><strong><u>Employee</u></strong><br>{{logIn.employee.firstName}} {{logIn.employee.lastName}}</p>
                        </div>
                    </div>
                </div>
            </div>
           

    </div>

    <div class="logout-div">
        <p style="margin:5px 0 0 10px;">Visitors Logged Out</p>

        <!-- //card -->
        <div class="card text-white" id="card2-div" *ngFor="let logOut of loggedOutVisitor">
                <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p><img src="/src/assets/images/person.png" alt="Avatar" class="avatar"></p>
                            </div>
                        
                            <div class="col align-middle">
                                    <p><strong><u>Logged Out</u></strong><br>{{logOut.logOutTime}}</p>
                            </div>
                            
                            <div class="col align-middle">
                                    <p><strong><u>Visitor</u></strong><br>{{logOut.visitor.firstName}} {{logOut.visitor.lastName}}</p>
                            </div>

                            <div class="col align-middle">
                                    <p><strong><u>Employee</u></strong><br>{{logOut.employee.firstName}} {{logOut.employee.lastName}}</p>
                            </div>
                    </div>
                </div>
            </div>
            <!-- end card -->
    
    

    </div>
</div>